@font-face {
    font-family: "Belbo";
    src:
        url("https://raw.githack.com/institutesynth/fontbook/main/Belbo-Regular.woff") format("woff"),
        url("https://raw.githack.com/institutesynth/fontbook/main/Belbo-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Neutronic";
    src:
        url("https://raw.githack.com/institutesynth/fontbook/main/Neutronic-Medium.woff") format("woff"),
        url("https://raw.githack.com/institutesynth/fontbook/main/Neutronic-Medium.woff") format("woff2");
}

@font-face {
    font-family: "Neutronic-Light";
    src:
        url("https://raw.githack.com/institutesynth/fontbook/main/Neutronic-Light.woff") format("woff"),
        url("https://raw.githack.com/institutesynth/fontbook/main/Neutronic-Light.woff") format("woff2");
}

body {
    background-color: rgb(230, 230, 230);
}

#intro {
    background-color: rgb(203, 203, 203);
}

.intro-head {
    font-family: "Neutronic", Menlo, Consolas, monospace;
    white-space: pre;
    margin-top: 10vh;
}

.body-head {
    font-family: "Neutronic", Menlo, Consolas, monospace;
    margin: 12vh auto 12vh;
}

.comment-head {
    font-family: "Neutronic", Menlo, Consolas, monospace;
    margin-top: 12vh;
    margin-bottom: 2vh;
}

.nav-item {
    font-family: "Neutronic", Menlo, Consolas, monospace;
}

.p-body {
    font-family: "Belbo", sans;
    font-size: large;
}

.p-comment {
    font-family: "Belbo", sans;
    font-size: large;
    text-align: center;
    padding-bottom: 3em;
}

.p-pubs {
    font-family: "Belbo", sans;
    font-size: large;
    text-align: center;
    padding-bottom: 5em;
}

.essay-head{
    font-family: "Neutronic", Menlo, Consolas, monospace;
}

.essay-body {
    font-family: "Belbo", sans;
    font-size: large;
    margin-bottom: 2em;
}

.pubs-div {
    padding-bottom: 15em;
}

.card-title {
    font-family: "Neutronic", Menlo, Consolas, monospace;
}

.card-text, .card-footer {
    font-family: "Belbo", sans;
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

ul.timeline-list {
    font-family: "Belbo", sans;
    position: relative;
    list-style: none;
    margin: 8vh 0 0;
    padding: 0;
}

ul.timeline-list::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color: #0275d8;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* Ensure list items take full width */
ul.timeline-list li {
    position: relative;
    clear: both;
    width: 100%;
    /* Remove display: table if it causes shrink-wrapping issues */
    /* display: table; */
}

.timeline_content {
    border: 2px solid #0275d8;
    background-color: #fff;
    width: 45%;            /* Fixed width for both left and right boxes */
    box-sizing: border-box;/* Include padding and border in width */
    color: #333;
    padding: 1.5em;
}

.timeline_content p {
    font-size: 1.1em;
}

/* Left-aligned content for odd items */
ul.timeline-list li .timeline_content {
    float: left;
    text-align: left;
}

/* Right-aligned content for even items */
ul.timeline-list li:nth-child(2n) .timeline_content {
    float: right;
    text-align: left;
}

.timeline_content h4 {
    font-family: Neutronic;
    font-size: 1.3em;
    font-weight: 700;
    margin: 10px 0;
}

.timeline_content .timeline-place {
    font-family: "Neutronic-Light", Menlo, Consolas, monospace;
}

ul.timeline-list li::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background-color: #0275d8;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.timeline_content span {
    font-size: 1.2em;
    font-weight: 500;
    color: #0275d8;
}

@media (max-width: 768px) {
    ul.timeline-list li .timeline_content {
        float: none;
        width: 100%;
        text-align: left;
    }
}

.divider {
    margin: 10vh auto auto;
    width: 60%;
}

.cursor {
    display: inline-block;
    width: 10px;
}

.blink {
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.glitch-container {
    position: relative;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    overflow: hidden;
}

.glitch-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.glitch-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/headshot.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-2deg);
    animation: glitch 1.5s infinite linear alternate;
}


@keyframes glitch {
    0% {
        opacity: 1;
        transform: translateZ(0) rotate(-2deg);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }

    2% {
        clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
        transform: translate(-5px) rotate(-2deg);
    }

    6% {
        clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
        transform: translate(5px) rotate(-2deg);
    }

    8% {
        clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
        transform: translate(-5px) rotate(-2deg);
    }

    9% {
        clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
        transform: translate(0) rotate(-2deg);
    }

    10% {
        clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    13% {
        clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
        transform: translateZ(0) rotate(-2deg);
    }

    13.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    15% {
        clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    20% {
        clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
        transform: translate3d(-5px, 0, 0) rotate(-2deg);
    }

    20.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    25% {
        clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    30% {
        clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
        transform: translate3d(-5px, 0, 0) rotate(-2deg);
    }

    30.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0) rotate(-2deg);
    }

    35% {
        clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
        transform: translate(-5px) rotate(-2deg);
    }

    40% {
        clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
        transform: translate(5px) rotate(-2deg);
    }

    45% {
        clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
        transform: translate(-5px) rotate(-2deg);
    }

    50% {
        clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
        transform: translate(0) rotate(-2deg);
    }

    55% {
        clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
        transform: translate3d(5px, 0, 0) rotate(-2deg);
    }

    60% {
        clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
        transform: translateZ(0) rotate(-2deg);
        opacity: 1;
    }

    60.1% {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        opacity: 1;
    }

    to {
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        opacity: 1;
    }
}